<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header"> <%= action_message %></h1>
  </div>
</div>


<div class="row">

<% if @admin.errors.any? %>
  <div class="alert alert-warning alert-dismissible fade show row" role="alert" style="width: 100%">

      <ul>
        <% @admin.errors.full_messages.each do |message| %>
        <li> <%= message %> </li>
        <% end %>
      </ul>

    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>

  <div class="col-lg-12">
    <div class="card container-fluid" >
      <div class="card-body" >
        <div class="row card-text">
          <div clas="container_fluid">
            <%= form_with(model: [ :admins_backoffice, @admin ], local: true) do |form| %>
              <h5 class="card-title"> <%= @admin.model_name.human %> </h5>
              <div class="form-group">
                <%= form.label :email %>
                <%= form.text_field :email, class:"form-control", placeholder:"Email do administrador" %>
              </div>
              <div class="form-group">
                <%= form.label :password %>
                <%= form.password_field :password, class:"form-control", placeholder:"Senha do administrador" %>
              </div>
              <div class="form-group">
                <%= form.label :password_confirmation %>
                <%= form.password_field :password_confirmation, class:"form-control", placeholder:"Confirmação de Senha do administrador" %>
              </div>
              <button type="submit" class="btn btn-primary">Salvar</button>
            <% end %>
          </div>
        </div>
      </div>
    </div>  
  </div>
</div>